
h1 {
    text-align: center;
    font-style:oblique
}

#line2 {
   font-style:italic;
   text-align: center;

  }

.sidebar {
    text-align: center;
    width: 40%;
    background-color:gray;
  }

.column {
    width: 300px;
    float: left;
    width: 40%;
    border: 5px solid black;
    padding: 8px;
    background-color: grey;
  }

  .small-img {
    width: 400px;
    height: 450px
    
  }

  .back-ground {
    color: beige;
    
  }