
.top-bar {
    background-color: rgb(167, 117, 167);
    color: #fff; 
    text-align: center; 
    padding: 0px; 

}

h1 {
    text-align: center;
    font-style:oblique
}

#line2 {
   font-style:italic;
   text-align: center;

  }

.column {
    width: 300px;
    width: 35%;
    border: 3px solid black;
    padding: 5px; 
    background-color: rgb(160, 149, 149)
  }

  .container {
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh; 
  }

  .small-img {  
    width: 400px;
    height: 500px
  }
