
h1 {
    text-align: center;
}

#line2 {
   font-style:italic;
   text-align: center;

  }

.sidebar {
    text-align: center;
    width: 40%;
    background-color:gray;
  }

.column {
    width: 300px;
    float: left;
    width: 35%;
    background-color: lightgray
  }

  .small-img {
    width: 350px;
    height: 400px
  }

  .back-ground {
    color: beige;
    
  }